<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Sleepyliu's Blog</title>

    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.2/css/bootstrap.min.css" />
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="/static/css/blog.css" >   
  </head>

  <body>
    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          {% block nav %}
          {% endblock %}
        </nav>
      </div>
    </div>

    <div class="container">
      
      <div class="blog-header">
        <h1 class="blog-title">Sleepyliu's Blog</h1>
        <p class="lead blog-description">天地有大美而不言，万物有成理而不说.</p>
      </div>

      <div class="row">
        <div class="col-sm-8 blog-main">
          {% block content %}
          {% endblock %}
        </div>

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>About</h4>
            <p>Bulit by <em>sleepyliu</em>.</p>
            <p>Just for exercise.</p>
            <p>python django</p>
            <p>bootstrap</p>
          </div>
          <div class="sidebar-module">
            <h4>Post</h4>
            <ol class="list-unstyled">
              <li><a href="{% url 'blog:post_new' %}">New Post</a></li>
            </ol>
          </div>
          <div class="sidebar-module">
            <h4>Archives</h4>
            <ol class="list-unstyled">
              <li><a href="{% url 'blog:search_by_day' %}">Today</a></li>
              <li><a href="{% url 'blog:search_by_month' %}">This Month</a></li>
              <li><a href="{% url 'blog:search_by_year' %}">This Year</a></li>
            </ol>
          </div>
          <div class="sidebar-module">
            <h4>Elsewhere</h4>
            <ol class="list-unstyled">
              <li><a href="https://github.com/sleepyliu">GitHub</a></li>
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->
      </div><!-- /.row -->
    </div><!-- /.container -->

    <footer class="blog-footer">
      <p>Blog built by sleepyliu.</p>
      <p>
        <a href="/admin">管理登录</a>
      </p>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://cdn.bootcss.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  </body>
</html>

