{% extends "blog/base.html" %}

    {% block content %}
        {% for post in posts %}
            <div class="blog-post">
                <h2 class="blog-post-title"><a href="{% url 'blog:detail' post.id %}">{{ post.title }}</a></h2>
                <p class="blog-post-meta">{{ post.timestamp }} by sleepyliu </p>
                <hr>
                <p>{{ post.body }}</p>
             </div><!-- /.blog-post -->
        {% endfor %}
        
        <nav>
            <ul class="pager">
                <div class="pagination">
                    <span class="step-links">
                        {% if posts.has_previous %}
                            <li><a href="?page={{ posts.previous_page_number }}">Previous</a></li>
                        {% endif %}
                        {% if posts.has_next %}
                            <li><a href="?page={{ posts.next_page_number }}">Next</a></li>
                        {% endif %}
                    </span>
                </div>
            </ul>
        </nav>
    {% endblock %}

