{% extends "blog/base.html" %}

    {% block nav %}
        <a class="blog-nav-item" href="{% url 'blog:index' %}">首页</a>
        <a class="blog-nav-item active" href="{% url 'blog:blog' %}">博客</a>
        <a class="blog-nav-item" href="{% url 'blog:archive' %}">博文目录</a>
        <a class="blog-nav-item" href="https://github.com/sleepyliu/mySite">源代码</a>
    {% endblock %}


    {% block content %}
        {% for post in posts %}
            <div class="blog-post">
                <h2 class="blog-post-title"><a href="{% url 'blog:detail' pk=post.pk %}">{{ post.title }}</a></h2>
                <p class="blog-post-meta">{{ post.timestamp }} by sleepyliu </p>
                <hr>
                <p>{{ post.body|linebreaks }}</p>
            </div>
        {% endfor %}
        
        <nav>
            <ul class="pager">
                <div class="pagination">
                    <span class="step-links">
                        {% if posts.has_previous %}
                            <li><a href="?page={{ posts.previous_page_number }}">Previous</a></li>
                        {% endif %}
                        {% if posts.has_next %}
                            <li><a href="?page={{ posts.next_page_number }}">Next</a></li>
                        {% endif %}
                    </span>
                </div>
            </ul>
        </nav>
    {% endblock %}

